/*
    #####################
	Downloads Styles 
	#####################
*/

#downloads {
	margin:0px;
}
	
	#downloads {
		width:720px;
		margin-left:auto;
		margin-right:auto;
	} 

		#downloads h2 {
			text-align:center;
			color: #2485df;
			margin-top:20px;
			font-family:"Lucida Console", Monaco, monospace;
			font-size:1.2em;
		}	
			#downloads h4{
				margin-bottom:0px;
				font-size:1.1em;
				color:#2485df;
				font-weight: 400;
			}
			
			#downloads p{
				font-size:0.9em;
				color:#8e8e8e;
				margin-top:5px;
				margin-bottom:35px;
			}

			#downloads > ul {
				line-height:18px;
				color:#8e8e8e;
				padding-left:0px;
				float: left;
				display:inline-block;
				margin-top:0px;
				margin-bottom:0px;
			}
			
			#downloads > ul li {
				list-style:none;
				background-color:#F6F6F3;
			}
			
			#downloads > ul a {
				font-size:15px;
				color:#2485df;
				font-weight: 400;
			}
			
			#downloads > ul a:hover {
				color:#ffffff;
				background-color:#2485df;
				text-decoration:none;
			}

/*
    #####################
	Lightbox Styles 
	#####################
*/		

.lb-data .lb-caption {
	font-weight:normal !important;
}