/*
    #####################
	Featured Works Styles 
	#####################
*/

#gallery {
		width:950px;
		margin:0px auto;
}
	

	#gallery h2{
			margin-bottom:0px;
			text-align: center;
			color:#2485df;			
		}
	#featured_works {
		position:relative;padding-top:20px;
		padding-bottom: 40px;
		width:350px;
		float:left;
		display:inline;
		background-color: #f6f6f6;
	} 
	#featured_works h3{
		
		color:#555555;
		border-bottom:4px solid #555555;
		text-transform:uppercase;
		padding:5px auto;
		width:210px;
		display:block;
		font-size: 1.2em;
		line-height: 1.5;
		letter-spacing: 1px;
	} 
/*
    #####################
	Other Works Styles 
	#####################
*/

.thumbs{
	clear:both;
	float: none;
	display:block;
	height:50px;
	overflow:hidden;
	margin-bottom: 30px;
}

.view{
   width: 80px;
   height:100px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;   
   margin:1px;
}
.view img
{
	width:200px;
	height:144px;
}
.view:last-child
{
	float: none;
}
.view img{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view img:hover{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: .7;
}


/*
    #####################
	Lightbox Styles 
	#####################
*/		
#gallery #fullpic
{
	position:relative;
	width:500px;
	height:500px;
	overflow:hidden;
	text-align:center;
	float:right;
	display:inline;
	margin-top:10px;
	border:15px solid #F6F6F3;
}

#gallery #fullpic img
{
	margin-left:-150px;
	height:500px;
}
#gallery #fullpic p
{
	margin-top:-100px;
	color:#FFFFFF;
	z-index: 100;
	background-color: #000000;
	position:relative;
	opacity:0.8;
	padding:10px;
	font-size: 1em;
	font-family:"Lucida Console", Monaco, monospace;
	text-align:right;
	height:100px;
	line-height:1.5;
}
#gallery #fullpic iframe
{	
	z-index:100;	
}
.lb-data .lb-caption {
	font-weight:normal !important;
}
