/*
    #####################
	Featured Works Styles 
	#####################
*/

#gallery {
		width:820px;
		margin:0px auto;
}
	

	#gallery h2{
			margin-bottom:0px;
			text-align: center;
			color:#2485df;			
		}
	#featured_works {
		position:relative;padding-top:20px;
		padding-bottom: 40px;
		width:820px;
		margin:0px auto;
		background-color: #f6f6f6;
	} 
	#featured_works h3{
		background-color: #2485df;		
		color:#FFFFFF;
		padding:20px auto;
		width:210px;
		display:block;
		font-size: 1em;
		line-height: 1.5;
		letter-spacing: 1px;
	} 
/*
    #####################
	Other Works Styles 
	#####################
*/

.thumbs{
	clear:both;
	float: none;
	display:block;
}

.view{
   width: 130px;
   height:150px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;   
   margin:1px;
}
.view img
{
	width:200px;
	height:144px;
}
.view:last-child
{
	float: none;
}
.view p{
			text-align: right;
			color:#FFFFFF;
			margin-top:-55px;
			z-index: 100;
			background-color: black;
			position:relative;
			opacity:0.6;
			padding:5px;
			font-size: 0.9em;
			font-family:"Lucida Console", Monaco, monospace;
		}
.view img{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view img:hover{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: .7;
}


/*
    #####################
	Lightbox Styles 
	#####################
*/		
#gallery #fullpic
{
	position:relative;
	width:800px;
	height:300px;
	overflow:hidden;
	margin:0px auto;
	text-align:center;
}

#gallery #fullpic img,
#gallery #fullpic iframe
{
	position:absolute;
	left:0px;
}
#gallery #fullpic iframe
{	
	z-index:100;	
}
.lb-data .lb-caption {
	font-weight:normal !important;
}
