/*
    #####################
	Featured Works Styles 
	#####################
*/

#gallery {
		width:900px;
		margin:0px auto;
}
	

	#gallery h2{
			margin-bottom:0px;
			text-align: center;
			color:#2485df;			
		}
	#featured_works {
		position:relative;
		padding-top:20px;
		padding-bottom: 40px;
		width:350px;
		float:left;
		display:inline;
		background-color: #f6f6f6;
	} 
	#featured_works h3{
		
		color:#555555;
		border-bottom:4px solid #555555;
		text-transform:uppercase;
		padding:5px auto;
		width:210px;
		display:block;
		font-size: 1.2em;
		line-height: 1.5;
		letter-spacing: 1px;
	} 
/*
    #####################
	Other Works Styles 
	#####################
*/

.thumbs{
	clear:both;
	float: none;
	display:block;
	height:50px;
	overflow:hidden;
	margin-bottom: 30px;
}

.view{
   width: 80px;
   height:100px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;   
   margin:1px;
}
.view img
{
	width:200px;
	height:144px;
}
.view:last-child
{
	float: none;
}
.view img{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view img:hover{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: .7;
}


/*
    #####################
	Lightbox Styles 
	#####################
*/		
#gallery #preview
{
	position:relative;
	width:500px;
	height:500px;
	overflow:hidden;
	text-align:center;
	float:right;
	display:inline;
	padding:0px;
	border:15px solid #F6F6F3;
}

#gallery #preview img
{
	margin-left:-150px;
	height:500px;
}
#gallery #preview p.caption
{
	margin-top:-100px;
	color:#FFFFFF;
	z-index: 100;
	background-color: #000000;
	position:relative;
	opacity:0.8;
	padding:10px;
	font-size: 1em;
	font-family:"Lucida Console", Monaco, monospace;
	text-align:right;
	height:100px;
	line-height:1.5;
}

#gallery a.btn {	
	position:absolute;
	z-index:100;	
	display: block; 
	background-position: top; 
	text-indent: -9999px; 
}
#gallery #preview #play
{
	opacity:0.65;
	margin-top: 200px;
	margin-left:205px;
	width: 100px; 
	height: 100px; 
	background-image: url('../images/play.png');
	background-size:80px 100px;
	background-repeat:no-repeat;
}
#gallery .fullview #close
{	
	opacity:0.65;
	right:0px;
	bottom:20px;
	width: 35px; 
	height:35px; 
	background-image: url('../images/close.png');
	background-size:30px 30px;
	background-repeat:no-repeat;
}
#gallery .fullview
{	
	position:absolute;
	z-index:10;	
	width:820px;
	margin:0px auto;
}
#gallery .fullview div#framing
{
	max-height:450px;
	width:800px;
	overflow:hidden;
	padding:20px;
	background-color:#333333;
}
#gallery .fullview img
{	
	width:800px;
}
#gallery .fullview iframe
{	
	padding:20px;	
	background-color:#333333;
	position:relative;
	overflow:hidden;
	border:none;
}
#gallery .fullview p{
	z-index: 100;
	width:800px;
	padding:20px 20px;
	font-size:0.9em;
	line-height:1.5;
	font-family:"Lucida Console", Monaco, monospace;
	color: #FFFFFF;
	background-color:#333333;
}
.lb-data .lb-caption {
	font-weight:normal !important;
}
