	#headerLinks li,
	#headerLinks span,
	#headerLinks a {
	  margin: 0;
	  padding: 0;
	  position: relative;
	}
	#headerLinks {
	}
	#headerLinks:after,
	#headerLinks ul:after {
	  display: block;
	  clear: both;
	}
	#headerLinks a {
	  display: inline-block;
	  line-height: 40px;
	  padding: 0 20px;
	  text-decoration: none;
	}
	#headerLinks ul {
	  list-style: none;
	  text-align:left;
	  
	}
	#headerLinks > ul {
	}
	#headerLinks > ul > li {
		float: left;
	}
	#headerLinks > ul > li:hover:after {
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  bottom: 0;
	}
	#headerLinks > ul > li:first-child > a {
	  border-radius: 5px 0 0 0;
	  -moz-border-radius: 5px 0 0 0;
	  -webkit-border-radius: 5px 0 0 0;
	}
	#headerLinks > ul > li:last-child > a {
	  border-radius: 0 5px 0 0;
	  -moz-border-radius: 0 5px 0 0;
	  -webkit-border-radius: 0 5px 0 0;
	}
	#headerLinks > ul > li.active a {
	  box-shadow: inset 0 0 3px #000000;
	  -moz-box-shadow: inset 0 0 3px #000000;
	  -webkit-box-shadow: inset 0 0 3px #000000;
	  background: #2485df;
	  color:#fff;
	}
	#headerLinks > ul > li:hover > a {
	  background: #2485df;
	  color:#ffffff;
	}
	#headerLinks .has-sub {
	  z-index: 1;
	}
	#headerLinks .has-sub:hover > ul {
	  display: block;
	}
	#headerLinks .has-sub ul {
	  display: none;
	  position: absolute;
	  width: 180px;
	  //top: 100%;
	  left:-40px;
	}
	#headerLinks .has-sub ul li {
	  *margin-bottom: -1px; 
	  text-align:left;
	}
	#headerLinks .has-sub ul li a {
	  background: #2485df;
	  color:#fff;
	  border-bottom: 1px dotted #6fc7ec;
	  filter: none;
	  font-size: 13px;
	  display: block;
	  line-height: 120%;
	  padding: 10px 15px; 
	}
	#headerLinks .has-sub ul li:hover a {
	  background: #258EEC;
	}
	#headerLinks .has-sub .has-sub:hover > ul {
	  display: block;
	}
	#headerLinks .has-sub .has-sub ul {
	  display: none;
	  position: absolute;
	  top: 0;
	}
