	#news {
		width:350px;
		margin:10px auto 30px;		
	} 

			#news h2{
				margin-bottom:25px;
				font-size:1.2em;
				text-align: center;
				color:#2485df;				
				font-family:"Lucida Console", Monaco, monospace;
				letter-spacing:2px;
				display: block;
			}
			
			#news h4{
				text-transform:uppercase;
				font-family:"Lucida Console", Monaco, monospace;
				font-size:1.1em;
				color:#555555;			
				width:520px;
				margin-left:-240px;
				width:230px;
				text-align:left;
				padding-bottom:5px;
				border-bottom:4px solid #555555;	
				
			}
			#news h5{
				margin-left:-230px;
				font-weight: normal;
				font-family:"Lucida Console", Monaco, monospace;
				font-size:1.1em;
				letter-spacing:3px;
				margin-top:0px;				
				margin-bottom:0px;
				color:#555555;
			}
			
			#news p{
				font-size:0.9em;
				color:#8e8e8e;
				margin-top:5px;
				margin-bottom:20px;
				background-color:#f6f6f3;
			}
			#news p.source{
				font-size:0.8em;
				margin-bottom:5px;
			}
			#news ul
			{
				width:500px;
			}
			#news ul li {
				list-style:none;
				padding-bottom:20px;
				border-bottom:thin dashed #8e8e8e;
			}
			#news ul li:last-child
			{
				border-bottom:none;
			}
			#news a {
				color: inherit;
			}
			#news ul p a {
			
			color:#2485df;
			}
			#news li a.link
			{	font-weight:normal;
				font-size:13px;
			}
			
			#news ul a:hover {
				color:#ffffff;
				background-color:#2485df;
				text-decoration:none;
			}
	
	#news li img.photo
	{
		width:500px;
		text-align:center;
		margin-left:0;
		margin-right:0;
	}	
	img.line_1 {
		margin-top:0px;
		margin-bottom:0px;
		display:block;
	}
			
	.line_2 {
		margin-top:40px;
		margin-bottom:40px;
	}
			
	.line_3 {
		margin-top:40px;
			}
			
	.line_4 {
		margin-top:20px;
			}


/*
    #####################
	Lightbox Styles 
	#####################
*/		

.lb-data .lb-caption {
	font-weight:normal !important;
}
