/*
    #####################
	publiccations Styles 
	#####################
*/

#publiccations {
	margin:0px;
}
	
	#publiccations {
		width:720px;
		margin-left:auto;
		margin-right:auto;
	} 

		#publiccations h2 {
			text-align:center;
			color: #2485df;
			margin-top:20px;
			font-family:"Lucida Console", Monaco, monospace;
			font-size:1.2em;
		}	
			#publiccations h4{
				margin-bottom:0px;
				font-size:1.1em;
				color:#2485df;
				font-weight: 400;
			}
			
			#publiccations p{
				font-size:0.9em;
				color:#8e8e8e;
				margin-top:5px;
				margin-bottom:35px;
			}

			#publiccations > ul {
				line-height:18px;
				color:#8e8e8e;
				padding-left:0px;
				float: left;
				display:inline-block;
				margin-top:0px;
				margin-bottom:0px;
			}
			
			#publiccations > ul li {
				list-style:none;
				line-height:1.3;
				padding-bottom:30px;
			}
			
			#publiccations > ul a {
				font-size:15px;
				color:#2485df;
				font-weight: 400;
			}
			
			#publiccations > ul a:hover {
				color:#ffffff;
				background-color:#2485df;
				text-decoration:none;
			}

/*
    #####################
	Lightbox Styles 
	#####################
*/		

.lb-data .lb-caption {
	font-weight:normal !important;
}