

#research1 {
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:50px; 
}

	#research1 h2#publication 
	{
		text-align:right;
		float:right;
		width:240px;
		background-color:#2485df;
		color:#FFFFFF;
		padding:10px;
	}
	
	#research1 .discription h2
	{		
		text-align:left;
		width:240px;
		float:none;
		clear:both;
		font-size:1.2em;
		color:#2485df;
		border-bottom:4px solid #2485df;
		text-transform:uppercase;
		padding-bottom:5px;
		margin-left:10px;
		margin-bottom:20px;
		margin-top:10px;
	}
	#research1 .discription div
	{
		color: #2485df;
		font-family:"Lucida Console", Monaco, monospace;
		font-size: 0.9em;
		margin-left:30px;
		width:500px;
	}

.topics
{
	margin-bottom:50px;
	float:none;
	clear:both;
}
.paper
{
	width:230px;
	height:250px;
	overflow:hidden;
	float:left;
	display:inline;
	margin:15px;
	background-color:#f6f6f3;
}
.paper img{
	width: 230px;
	margin-top:-15px;
	margin-bottom:5px;
}
.paper h2{
	color: #2485df;
	font-family:"Lucida Console", Monaco, monospace;
	letter-spacing:0.8px;
	font-size: 1em;
	line-height: 1.1;
}
.paper h4{
	font-size: 0.9em;
	color:#8e8e8e;
}
.paper p{
	color:#8e8e8e;
	font-size: 0.85em;
	text-align: left;
	font-family:Tahoma, Geneva, sans-serif;
}

.paper a{
	//color: #2485df;
}
.paper a:hover;{
	text-decoration: underline;
}
