

#scholarship {
	width: 580px;
	margin-right: auto;
	margin-left: auto;
}

#scholarship div div h2{
	color: #2485df;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:1.2em;
}

#scholarship p{
	line-height: 1.5em;
}
.item
{	
	width: 580px;
}
#discription{
	display: inline;
}
	#scholarship div div#discription h2
	{		
		text-align:left;
		width:240px;
		float:none;
		background-color:#2485df;
		color:#FFFFFF;
		margin-left:-90px;
		padding:10px;
		margin-bottom:30px;
	}

	div#discription p{
		display: block;
		margin:10px -10px 20px;
		color: #2485df;
		font-family:"Lucida Console", Monaco, monospace;
		font-size: 1em;
		text-align: left;
		line-height: 1.2em;
		letter-spacing:0.8px;
	}
.insturctions h2{
	padding-top:10px;
	text-align: left;
}

div.insturctions p{
	color:#8e8e8e;
	font-size: 0.95em;
	text-align: left;
	font-family:Tahoma, Geneva, sans-serif;
	margin-bottom:0.9em;
}

.insturctions a{
	color: #2485df;
}
.insturctions .para, .insturctions p
{
	background-color:#f6f6f3;
}
.insturctions a:hover;{
	text-decoration: underline;
}
.insturctions img{
	display: block;
	width: 60px;
	float: left;
	margin-left:-90px;
}
.insturctions
{
	margin-bottom:30px;
}
