html, body {
    background-color:#ffffff;
	font-family:Tahoma, Geneva, sans-serif;
	color:#8E8E8E;
	height:100%;
	width:100%;
	min-width:1024px;
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
}

a:hover {
	cursor:pointer;
}
a:visited
{
	color:inherit;
}
a img {
	border:0px;
}

p {
	margin:0px;
}
.more 
	{
	font-size:0.8em;
	line-height:2em;
	letter-spacing:2px;
	color:#2485df;
	width:260px;
	text-align:left;
	}
			
h1, h2, h3, h4 {
	font-weight:normal;
	font-family:"Lucida Console", Monaco, monospace;
	letter-spacing: 2px;
}
h2
{
font-size:1.2em;
}
li, ul{
	 list-style-type:none;
}
#wrap {
	margin: 0px auto;
	top:0px;
	bottom:0px;
}


/*
    #####################
	Header Styles 
	#####################
*/

#headercontainer {
	width:100%;
	min-width:1024px;
	height:100px;	
	margin-bottom:40px;
}
	#header {
		position:absolute;
		left:0;
		right:0;
		text-align:center;		
		background: #2485df;
		z-index:1000;
		height:45px;
		transition:height 1s;
		-webkit-transition:height 1s;
		width: 100%;
		min-width:1024px;
	}
	#header:hover{
			height:118px;
			overflow:hidden;
			
	}
		#headertext {			
			color:#ffffff;
			letter-spacing: -1px;
			line-height: 38px;
			font-family:"Lucida Console", Monaco, monospace;
			text-align:center;
			margin-left:0;
			margin-right:0;
			margin-top:-115px;
			transition:margin-top 0.8s;			
			-webkit-transition:margin-top 0.8s;		
			}
			#headertext:hover{
				margin-top:-2px;
			}
			#headertext h1 a {
				margin:0px;
				font-size:45px;
				color:#ffffff;
				text-transform:uppercase;
			}
		
			#headertext h1 span {
				font-size:15px;
				letter-spacing:0.5px;
				color:#ffffff;
				display:block;
				text-transform:uppercase;
			}
		
	#headerLink_fix
			{
				position:absolute;
				z-index:100;
				top:60px;
				left:0;
				right:0;
				background:white;
				margin-top:0;
			}
			
		#headerLinks {
			text-transform:uppercase;
				width:960px;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				
			}
			#headerLinks li {
				text-align:center;
				list-style:none;
			}
			
			#headerLinks a {
				font-family:"Lucida Console", Monaco, monospace;
				padding:0px 10px;
				color:#2485df;
				font-size:1.1em;
				letter-spacing: 2.2px;
				border-bottom:thin dashed #2485df;
			}
			
				
				#darkbox_background {
					display:none;
					width:100%;
					height:100%;
					background-color: #000000;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
					filter: alpha(opacity=90);
					-moz-opacity:0.9;
					-khtml-opacity: 0.9;
					opacity: 0.9;
					z-index:1000;
					position:absolute;
					top:0px;
					left:0px;
				}

				#darkbox_container {
					display:none;
					width:100%;
					height:100%;
					z-index:1000;
					position:absolute;
					top:0px;
					left:0px;
				}

					#darkbox {
						width: 600px;
						height:auto;
						margin-left:auto;
						margin-right:auto;
						margin-top: 198px;
						background-color: #ffffff;
						border-radius: 5px;
					}

						#close_button {
							float:right;
							margin-right: 10px;
							margin-top: 10px;
							font-size:16px;
							color:#8e8e8e;
						}

						 #close_button a {
						 	display:block;
						 }

						#darkbox ul {
							width:500px;
							margin-left:auto;
							margin-right:auto;
							padding-top:25px;
							padding-bottom:5px;
							list-style:none;
							padding-left: 0px;
							line-height:15px;
							font-size:14px;
							color:#8e8e8e;
						}
						
						#darkbox ul#list li p {
							margin-top: 10px;
							margin-bottom: 20px;
						}
						#darkbox ul#list li h4 {
							margin-bottom: 0px;
							margin-top: 0px;
						}
						#darkbox h4 a {font-size:16px;
							color:#2485df;
						}

#maincontainer {
	width:100%;
	margin-bottom: 30px;-moz-binding;
	height:auto;
	overflow:hidden
}	



/*
    #####################
	Module Styles 
	#####################
*/

	.module {
		margin-left:auto;
		margin-right:auto;
		width:100%;
		height:auto;
		float: left;
	}
	

/*
    #####################
	Image Module Styles 
	#####################
*/
	
		.images {
			width:100% !important;
			height:450px;
		}
	
			

				ul.pagination {
					list-style: none;
					margin-top: 15px;
					width: 144px;
					margin-left: auto;
					margin-right: auto;
					padding-left: 0px;
				}

					ul.pagination li {
						display: inline-block;
						width: 8px;
						height: 8px;
						margin-left:5px;
						margin-right:5px;
					}

						ul.pagination li a {
							display: block;
							width: 8px;
							height: 0;
							padding-top: 8px;
							background-image: url('../images/dot.png');
							background-position: 0 0;
							float: left;
							overflow: hidden;
						}

						ul.pagination li.current a {
							background-position: 0 -8px;
						}

						ul.pagination li a:hover {
							background-position: 0 -8px;
						}

				.slide {
					display:inline-block;
					width:1000px;
					height:400px;
				}
				
				div#controls {
					width: 120px;
					margin-left: -60px;
					position: absolute;
					left: 50%;
					top: 360px;
					z-index: 100;
				}
		
				div#controls div {
					width: 8px;
					height: 8px;
					margin-left:5px;
					background-color: transparent;
					display: inline-block;
					background-image:url('../images/dot.png');
					background-repeat:no-repeat;
					background-position:0px 0px;
				}
			
					div#controls div.active {
						background-position:0px -8px;
					}
		
					div#controls div:hover {
						cursor:pointer;
					}
	
/*
    #####################
	Footer Styles 
	#####################
*/


		#return {
			left:0;
			right:0;
			position:absolute;
			margin-top:-20px;
			z-index:10;
		}	
			#return:hover {
				cursor: pointer;
			}

			#return > img {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

			#return a {
				display:block;
				margin-left:auto;
				margin-right:auto;	
				text-align:center;
				font-size:18px;
				color:#2485df;
			}

			#return:hover {
				margin-top:-30px;
			}
			
	#footer {
			height: 80px;
			width: 100%;
			color: #ffffff;
			margin: 0 auto;
			padding: 0 auto;
			text-transform:uppercase;
			position:relative;
			bottom:0px;
		}			
		#inner_footer {
			background-color:#2485df;
			margin-bottom:0px;
			padding-bottom:0px;
			width:100%;
			float: right;
			position:absolute;
			bottom:0px;
		}
		
			#inner_footer img {
				float:left;
				margin-left:120px;
				margin-top: 10px;
			}
		
			#inner_footer h3 {
				font-size:0.9em;
				letter-spacing:2px;
				margin-right: 120px;
				margin-top: 25px;
				text-align:right;
				line-height:normal;
				font-weight: normal;
			}
			
			#inner_footer p {
				font-size:18px;
				text-align:right;
			}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}