
a {
	text-decoration:none;
}

a:hover {
	cursor:pointer;
}

a img {
	border:0px;
}
	
#courses {
	width:880px;
	margin-left:auto;
	margin-right:auto;
}
		
		.level
		{
			clear:both;
			padding-top:5px;
		}
		.level h2{
			margin-bottom:5px;
			margin-left:-30px;
			font-size:25px;
			text-align: left;
			color:#2485df;
			font-family:TradeGothicBoldCondensed, Helvetica, Arial, "san-serif";
		}			
		.class {
				width:240px;
				height:auto;
				float:left;				
				margin:0 20px;
		}
			
			p.class_name {
				font-family:TradeGothicBoldCondensed, Helvetica, Arial, "san-serif";
				font-size:18px;
				color:#2485df;
				width:230px;
			}
			span.class_code
			{
				font-family:TradeGothicBoldCondensed, Helvetica, Arial, "san-serif";
				font-size:15px;
				color:#2485df;
			}

			p.class_description {
				font-family:TradeGothic, Helvetica, Arial, "san-serif";
				font-size:13px;
				line-height:18px;
				color:#8e8e8e;
				width:260px;
				margin-bottom:10px;
			}
			
			p.more {
				font-family:TradeGothic, Helvetica, Arial, "san-serif";
				font-size:13px;
				line-height:18px;
				color:#2485df;
				width:260px;
				margin-bottom:10px;
				text-align:left;
			}
			
			
	img.line_1 {
		margin-top:0px;
		margin-bottom:0px;
		display: block;
	}
			
	.line_2 {
		margin-top:40px;
		margin-bottom:40px;
	}
			
	.line_3 {
		margin-top:40px;
			}
			
	.line_4 {
		margin-top:20px;
			}