
a {
	text-decoration:none;
}

a:hover {
	cursor:pointer;
}

a img {
	border:0px;
}
	
#research {
	width:880px;
	margin-left:auto;
	margin-right:auto;
}
		
	.research_area
	{
			clear:both;
			padding-top:5px;
		}
		
		.research_area h2{
			margin-bottom:5px;
			font-size:25px;
			text-align: left;
			color:#2485df;
			font-family:TradeGothicBoldCondensed, Helvetica, Arial, "san-serif";
		}		
		p.research_area_description
		{
			font-family:TradeGothic, Helvetica, Arial, "san-serif";
			font-size:13px;
			line-height:18px;
			color:#2485df;
			width:500px;
			margin-bottom:10px;
		}
		.research_project {
				width:240px;
				height:auto;
				float:left;				
				margin:0 20px;
		}
			
			p.research_project_name {
				font-family:TradeGothicBoldCondensed, Helvetica, Arial, "san-serif";
				font-size:18px;
				color:#2485df;
				width:230px;
			}
			p.research_project_description {
				font-family:TradeGothic, Helvetica, Arial, "san-serif";
				font-size:13px;
				line-height:18px;
				color:#8e8e8e;
				width:260px;
				margin-bottom:10px;
			}
			
			p.more {
				font-family:TradeGothic, Helvetica, Arial, "san-serif";
				font-size:13px;
				line-height:18px;
				color:#2485df;
				width:260px;
				margin-bottom:10px;
				text-align:left;
			}
			
			
	img.line_1 {
		margin-top:0px;
		margin-bottom:0px;
		display: block;
	}
			
	.line_2 {
		margin-top:40px;
		margin-bottom:40px;
	}
			
	.line_3 {
		margin-top:40px;
			}
			
	.line_4 {
		margin-top:20px;
			}